.articles-container {
  display: grid;
  grid-template-columns: 40% 40% 20%;
}
.article-block {
  margin-bottom: 100px;
}

.article-img-container {
  height: auto;
  width: 80%;
}

.article-thumbnail {
  height: auto;
  width: 100%;
}
