/* pは記事を管理画面から書いた際のブロック一つ一つ */
p {
  margin: 20px 0px;
  font-size: 20px;
  display: block;
}
/* h2は記事を管理画面から書いた際の見出し(h2) */
h2 {
  font-size: 42px;
  margin: 80px 0px 20px 0px;
  color: #deb887;
}
/* emphasizeは記事を管理画面から書いた際のB(太字)にした際のスタイル */
/* B(太字)自体は<strong>タグを付与するので、それをscript.jsの中で以下のクラス持ちの<span>タグに置換している */
.emphasize {
  font-size: 26px;
  color: #00a99d;
  text-decoration: underline;
  text-decoration-color: #deb887;
}

.mobile-single-bar {
  display: none;
}

.mobile-single-hr {
  display: none;
  background-image: -webkit-linear-gradient(left, #deb887 40%, #00a99d 50%);
  background-image: -moz-linear-gradient(left, #deb887 40%, #00a99d 50%);
  background-image: -ms-linear-gradient(left, #deb887 40%, #00a99d 50%);
  background-image: -o-linear-gradient(left, #deb887 40%, #00a99d 50%);
}

/* 目次用スタイル(目次はjsで自動追加) 開始*/
.single-article-content-description ul {
  width: 80%;
  display: block;
  text-align: center;
  margin: 50px auto;
  padding: 0;
  list-style: none;
  font-size: 22px;
  text-align: center;
}
.single-article-content-description ul::before {
  content: "目次";
  color: #00a99d;
  font-size: 36px;
  font-weight: bold;
  display: block;
  padding-bottom: 20px;
}
.single-article-content-description li {
  margin: 0px 30px;
  padding-bottom: 20px;
  text-align: left;
}
.single-article-content-description li:nth-child(2) {
  padding-top: 20px;
}
.single-article-content-description li a {
  color: #000;
}
.single-article-content-description li a:hover {
  color: #deb887;
  font-weight: bold;
}
/* 目次用スタイル(目次はjsで自動追加) 終わり */

.single-article-title {
  position: absolute;
  width: 50%;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-size: 42px;
  color: #00a99d;
  word-break: normal;
}

.single-article-container {
  height: auto;
  display: grid;
  grid-template-columns: 80% 20%;
  min-width: 1000px;
}

.single-article-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.single-article-thumbnail {
  width: 75%;
  border-radius: 25px;
}

.single-article-content-description {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.single-article-content-description img {
  height: auto;
  width: 600px;
}

.single-article-side-bar {
  height: 100%;
  width: 100%;
}

.single-article-side-bar-title {
  font-size: 24px;
  font-weight: bold;
  color: #00a99d;
}

.single-article-side-bar-info {
  font-size: 18px;
  padding-left: 10px;
  word-break: normal;
}

/* モバイル用CSS */
@media screen and (max-width: 768px) {
  .mobile-single-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 20px;
  }
  .mobile-single-bar > p {
    font-size: 18px;
    margin: 5px 0px;
  }
  .mobile-single-hr {
    display: block;
  }
  .single-article-content-description {
    width: 100%;
  }
  .single-article-content-description ul {
    width: 100%;
    font-size: 18px;
  }
  .single-article-container {
    min-width: 100%;
    display: flex;
  }
  .single-article-title {
    height: auto;
    width: 70%;
    margin: 0;
    font-size: 36px;
    color: #deb887;
    transform: none;
    position: absolute;
    top: 150px;
    left: 30px;
  }
  .single-article-side-bar {
    display: none;
  }
}
