/* pは記事を管理画面から書いた際のブロック一つ一つ */
p {
  margin: 20px 0px;
  font-size: 20px;
  display: block;
}
/* h2は記事を管理画面から書いた際の見出し(h2) */
h2 {
  font-size: 42px;
  margin: 40px 0px 20px 0px;
  color: #deb887;
}

.single-article-title {
  position: absolute;
  width: 500px;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #00a99d;
  word-break: normal;
}

.single-article-container {
  height: 800px;
  display: grid;
  grid-template-columns: 75% 35%;
}

.single-article-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.single-article-thumbnail {
  height: auto;
  width: 75%;
  border-radius: 25px;
}

.single-article-content-description {
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.single-article-side-bar {
  height: 100%;
  width: 100%;
}

.single-article-side-bar-title {
  font-size: 24px;
  font-weight: bold;
  color: #00a99d;
}

.single-article-side-bar-info {
  font-size: 18px;
  padding-left: 10px;
  word-break: normal;
}
