@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap");

body {
  font-family: "Zen Maru Gothic", "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  margin: 0;
  padding: 0;
}

/*
common style 
*/
h2 {
  font-size: 42px;
  color: #00a99d;
  margin: 0px;
}

section {
  padding: 20px 30px;
}

a {
  color: #00a99d;
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: inherit;
  color: #00a99d;
  font-size: 40px;
  border: 0px;
  cursor: pointer;
}

.button-label {
  background-color: transparent;
}

.button-greenback {
  background-color: #00a99d;
  color: #fff;
  font-size: 24px;
  border-radius: 25px;
  padding: 5px 20px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.button-greenback:hover {
  box-shadow: inset 5px 5px rgba(0, 0, 0, 0.2);
}

hr {
  height: 5px;
  margin: 0px;
  border: none;
  background: #00a99d;
  background-image: -webkit-linear-gradient(left, #00a99d 50%, #deb887 60%);
  background-image: -moz-linear-gradient(left, #00a99d 50%, #deb887 60%);
  background-image: -ms-linear-gradient(left, #00a99d 50%, #deb887 60%);
  background-image: -o-linear-gradient(left, #00a99d 50%, #deb887 60%);
}

.hr-reverse {
  background-image: -webkit-linear-gradient(left, #deb887 40%, #00a99d 50%);
  background-image: -moz-linear-gradient(left, #deb887 40%, #00a99d 50%);
  background-image: -ms-linear-gradient(left, #deb887 40%, #00a99d 50%);
  background-image: -o-linear-gradient(left, #deb887 40%, #00a99d 50%);
}

.article-post-day {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #deb887;
}

.article-post-day::before {
  content: "<-- ";
}
.article-post-day::after {
  content: " -->";
}

.anchor-adjust-div {
  width: 100%;
  height: 70px;
}

@media screen and (max-width: 768px) {
  hr {
    min-width: 100%;
  }
  .anchor-adjust-div {
    height: 50px;
  }
}

/* 
header
*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  min-width: 1000px;
  margin-bottom: 40px;
  background-color: #00a99d;
}

.header-logo {
  margin: 0;
  padding: 0px 20px;
}

.header-logo > a {
  font-size: 40px;
  color: #fff;
  transition: color 0.25s;
}

.header-logo > a:hover {
  color: #deb887;
}

/* モバイル用CSS */
@media screen and (max-width: 768px) {
  .header {
    min-width: 100%;
    height: 50px;
  }
  .header-logo {
    padding: 0px 10px;
  }
  .header-logo > a {
    font-size: 28px;
  }
}

/* .header-nav {
} */
.header-navlist {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-navlist > li {
  margin: 0px;
}

.header-navitem {
  margin: 0 20px;
}

.header-navitem > a {
  color: #fff;
  padding: 5px 20px;
  font-size: 20px;
  background-color: transparent;
  transition: background-color 0.5s, color 0.3s;
  border-radius: 25px;
  word-break: normal;
}

.header-navitem > a:hover {
  background-color: #deb887;
}

/* モバイル用CSS */
@media screen and (max-width: 768px) {
  .header-navlist {
    display: none;
  }
}

/* 
hero 
*/
#hero_animation {
  height: 600px;
  width: 100vw;
  position: relative;
  min-width: 1000px;
}

.hero-title {
  position: absolute;
  top: 65%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: #00a99d;
  word-break: normal;
}

.hero-title .orange {
  color: #deb887;
}

/* モバイル用CSS */
@media screen and (max-width: 768px) {
  #hero_animation {
    min-width: 100%;
    height: 400px;
  }
  .hero-title {
    font-size: 42px;
    top: 75%;
    left: 35%;
  }
}

/* 
mobile-nav
*/
.mobile-nav {
  display: none;
}

.mobile-hr {
  display: none;
}

/* モバイル用CSS */
@media screen and (max-width: 768px) {
  .mobile-nav {
    display: block;
    background-color: #fafad2b3;
  }
  .mobile-nav-container {
    display: flex;
    position: relative;
    justify-content: space-around;
    font-size: 18px;
    margin: 0;
    padding: 20px 0;
  }
  .mobile-hr {
    display: block;
  }
}

/* 
article
*/

.article-new {
  position: relative;
  height: 950px;
  width: 100%;
  min-width: 1000px;
}

.article-new-row {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.article-new-block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: auto;
  width: auto;
  margin: 20px;
  border-radius: 25px;
}

.article-new-img-container {
  height: 166px;
  width: 250px;
  margin: 10px 0px;
  border-radius: 10px;
  overflow: hidden;
  border: #00a99d 3px solid;
}

.article-new-thumbnail {
  height: inherit;
  width: inherit;
}

.article-new-thumbnail:hover {
  transform: scale(1.1);
}

.article-new-description {
  color: #00a99d;
  height: 100px;
  width: 250px;
  font-size: 20px;
  text-align: center;
}

.article-new-list {
  position: absolute;
  bottom: 50px;
  right: 100px;
}

/* モバイル用CSS */
@media screen and (max-width: 768px) {
  .article-new {
    min-width: 100%;
    height: 1300px;
  }
  .article-new-title {
    font-size: 36px;
  }
  .article-new-row {
    flex-direction: column;
    justify-content: flex-start;
  }
  .article-new-row:nth-child(3) {
    display: none;
    justify-content: flex-start;
  }
  .article-new-img-container {
    height: 132px;
    width: 200px;
  }
  .article-new-description {
    height: 100px;
    width: 300px;
    font-size: 18px;
  }
  .article-new-list {
    right: 130px;
  }
}

/* 
about 
*/
.about-blog {
  height: auto;
  background-color: #fafad2b3;
  padding-bottom: 20px;
  min-width: 1000px;
}

.about-blog-description {
  padding: 30px;
  font-size: 20px;
}

.about-blog-emphasize {
  color: #00a99d;
  font-size: 36px;
}

.about-blog-welcome {
  display: flex;
  justify-content: center;
}

.about-blog-welcome img {
  width: 200px;
  height: auto;
  margin-bottom: 30px;
}

/* モバイル用CSS */
@media screen and (max-width: 768px) {
  .about-blog {
    min-width: 100%;
  }
  .about-blog-title {
    font-size: 36px;
  }
  .about-blog-description {
    font-size: 18px;
    padding: 10px 5px;
  }
  .about-blog-emphasize {
    font-size: 24px;
  }
}
/*  
article-area-container
*/
.article-area-container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: auto;
  width: 100%;
  min-width: 1000px;
  margin-top: 70px;
  padding: 20px 30px;
}

.article-pickup {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

.article-ranking {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0;
  border-left: 5px dotted #00a99d;
}

.article-block-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-pickup-block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  height: auto;
  width: auto;
  margin: 20px;
  border-radius: 25px;
}

.article-pickup-block:before {
  content: "Pick Up!";
  color: orange;
  font-size: 42px;
  font-weight: bold;
  position: absolute;
  height: 50px;
  width: 100px;
  top: 35px;
  left: -120px;
  cursor: auto;
  transform: rotate(-15deg);
  text-shadow: 1px 1px 0 gray, 2px 2px 0 gray;
}

.article-ranking-block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  height: auto;
  width: auto;
  margin: 20px;
  border-radius: 25px;
}

.article-ranking-block:before {
  content: "";
  font-size: 72px;
  font-weight: bold;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 35px;
  left: -75px;
  cursor: auto;
  text-shadow: 1px 1px 0 gray, 2px 2px 0 gray, -1px -1px 0 gray;
}

.article-ranking-block:nth-child(1):before {
  content: "1";
  color: gold;
}
.article-ranking-block:nth-child(2):before {
  content: "2";
  color: silver;
}
.article-ranking-block:nth-child(3):before {
  content: "3";
  color: brown;
}

.article-ranking .article-block {
  background: #00a99d;
}

.article-img-container {
  height: 166px;
  width: 250px;
  margin: 10px 0px;
  border-radius: 10px;
  overflow: hidden;
  border: #00a99d 3px solid;
}

.article-thumbnail {
  height: inherit;
  width: inherit;
}

.article-thumbnail:hover {
  transform: scale(1.1);
}

.article-description {
  color: #00a99d;
  height: 100px;
  width: 250px;
  font-size: 20px;
  text-align: center;
}

.article-list-button {
  margin: 30px 0;
  display: block;
}

/* モバイル用CSS */
@media screen and (max-width: 768px) {
  .article-area-container {
    min-width: 100%;
    grid-template-columns: none;
    margin-top: 50px;
  }
  .article-title {
    font-size: 36px;
  }
  .article-pickup {
    display: none;
  }
  .article-ranking {
    border: none;
  }
  .article-ranking-block {
    margin-top: 50px;
  }
  .article-img-container {
    height: 132px;
    width: 200px;
  }
  .article-ranking-block:before {
    font-size: 42px;
    left: -5px;
  }
  .article-description {
    height: 100px;
    width: 300px;
    font-size: 18px;
  }
}

/* 
catagory
*/
.category {
  height: 350px;
  min-width: 1000px;
}

.category-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 20px 0px;
}

.category-card {
  height: 200px;
  width: 200px;
  padding: 20px;
  border: 5px solid #00a99d;
  border-radius: 25px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: 80% 20%;
}

.category-card .category-card-name {
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  font-size: 24px;
}

.category-card-img-1 {
  /* Wordpressの仕様上、phpのタグをCSSで指定できないのでimageの記述はhtmlに移動 */
  /* background-image: url("./assets/img/category-icon/computing.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.category-card-img-2 {
  /* Wordpressの仕様上、phpのタグをCSSで指定できないのでimageの記述はhtmlに移動 */
  /* background-image: url("./assets/img/category-icon/stay-at-home.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.category-card-img-3 {
  /* Wordpressの仕様上、phpのタグをCSSで指定できないのでimageの記述はhtmlに移動 */
  /* background-image: url("./assets/img/category-icon/read.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.category-card-img-4 {
  /* Wordpressの仕様上、phpのタグをCSSで指定できないのでimageの記述はhtmlに移動 */
  /* background-image: url("./assets/img/category-icon/machine.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.category-card:hover {
  box-shadow: inset 10px 10px rgba(0, 0, 0, 0.2);
}

.category-mobile-container {
  display: none;
}

/* モバイル用CSS */
@media screen and (max-width: 768px) {
  .category {
    min-width: 100%;
    height: 600px;
  }
  .category-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .category-container {
    display: none;
  }
  .category-card {
    height: 150px;
    width: 150px;
  }
  .category-mobile-container {
    display: grid;
    grid-template-rows: 50% 50%;
    align-items: flex-start;
  }
  .category-mobile-row_1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
  }
  .category-mobile-row_2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .category-card {
    grid-template-rows: 70% 30%;
  }
}

/* 
about-author
*/

.about-author {
  height: auto;
  background-color: #fafad2b3;
  padding-bottom: 20px;
  min-width: 1000px;
}

.about-author-description {
  padding: 30px;
  font-size: 20px;
  display: grid;
  grid-template-columns: 40% 60%;
}

.about-author-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-author-img img {
  height: 300px;
  width: 300px;
}

.about-author-name {
  font-size: 36px;
  margin: 0px;
}

.profile-item {
  color: #00a99d;
  font-weight: bold;
  margin-right: 25px;
}

.about-author-button-container {
  display: flex;
  justify-content: flex-end;
}
.about-author-more {
  margin-right: 50px;
}
/* モバイル用CSS */
@media screen and (max-width: 768px) {
  .about-author {
    min-width: 100%;
  }
  .about-author-title {
    font-size: 36px;
  }
  .about-author-description {
    font-size: 18px;
    padding: 10px 5px;
  }
  .about-author-description {
    display: flex;
    flex-direction: column;
  }
  .about-author-button-container {
    justify-content: center;
    margin-top: 30px;
  }
  .about-author-more {
    margin-right: 0px;
  }
}
/* 
pageTopButton
*/
.page-top-button {
  display: none;
  position: fixed;
  right: 1%;
  bottom: 1%;
  color: #deb887;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 20px;
  background-color: transparent;
  border-radius: 25px;
  transition: color 0.25s;
}

.page-top-button::before {
  content: "▲";
  padding-right: 5px;
}

.page-top-button:hover {
  color: #fff;
  background-color: #deb887;
}

/* モバイル用CSS */
@media screen and (max-width: 768px) {
  .page-top-button:hover {
    color: #deb887;
    background-color: transparent;
  }
}

/*
footer
*/

.footer {
  height: 200px;
  padding-top: 25px;
  background-color: #00a99d;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  min-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.privacy-policy {
  cursor: pointer;
}

/* モバイル用CSS */
@media screen and (max-width: 768px) {
  .footer {
    min-width: 100%;
    font-size: 18px;
  }
}
