@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap");

body {
  font-family: "Zen Maru Gothic", "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  margin: 0;
  padding: 0;
}

/*
common style 
*/
h2 {
  font-size: 42px;
  color: #00a99d;
  margin: 0px;
}

section {
  padding: 20px 30px;
}

a {
  color: #00a99d;
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: inherit;
  color: #00a99d;
  font-size: 40px;
  border: 0px;
  cursor: pointer;
}

.button-label {
  background-color: transparent;
}

.button-greenback {
  background-color: #00a99d;
  color: #fff;
  font-size: 24px;
  border-radius: 25px;
  padding: 5px 20px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.button-greenback:hover {
  box-shadow: inset 5px 5px rgba(0, 0, 0, 0.2);
}

hr {
  height: 5px;
  margin: 0px;
  border: none;
  background: #00a99d;
  background-image: -webkit-linear-gradient(left, #00a99d 40%, #deb887 50%);
  background-image: -moz-linear-gradient(left, #00a99d 40%, #deb887 50%);
  background-image: -ms-linear-gradient(left, #00a99d 40%, #deb887 50%);
  background-image: -o-linear-gradient(left, #00a99d 40%, #deb887 50%);
}

.hr-reverse {
  background-image: -webkit-linear-gradient(left, #deb887 40%, #00a99d 50%);
  background-image: -moz-linear-gradient(left, #deb887 40%, #00a99d 50%);
  background-image: -ms-linear-gradient(left, #deb887 40%, #00a99d 50%);
  background-image: -o-linear-gradient(left, #deb887 40%, #00a99d 50%);
}

/* 
header
*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  min-width: 1000px;
  margin-bottom: 40px;
}
.header-logo {
  margin: 0;
  padding: 0px 20px;
}

.header-logo > a {
  font-size: 40px;
  transition: color 0.25s;
}

.header-logo > a:hover {
  color: #deb887;
}

/* .header-nav {
} */
.header-navlist {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-navitem {
  margin: 0 20px;
}

.header-navitem > a {
  padding: 5px 20px;
  font-size: 20px;
  background-color: transparent;
  transition: background-color 0.5s, color 0.3s;
  border-radius: 25px;
  word-break: normal;
}

.header-navitem > a:hover {
  color: #fff;
  background-color: #00a99d;
}

/* 
hero 
*/

#hero_animation {
  height: 600px;
  width: 100vw;
  position: relative;
  min-width: 1000px;
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: #00a99d;
  word-break: normal;
}

.hero-title .orange {
  color: #deb887;
}

/* 
about 
*/
.about-blog {
  height: auto;
  background-color: rgba(250, 250, 210, 0.7);
  padding-bottom: 20px;
  min-width: 1000px;
}

.about-blog-description {
  padding: 30px;
  font-size: 20px;
}

/* 
article
*/

.article-new {
  position: relative;
  height: 800px;
  width: 100%;
  min-width: 1000px;
}

.article-new-list {
  position: absolute;
  bottom: 50px;
  right: 100px;
}

.article-new-row {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.article-new-block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: auto;
  width: auto;
  margin: 20px;
  border-radius: 25px;
}

.article-new-img-container {
  height: 150px;
  width: 250px;
  margin: 10px 0px;
  border-radius: 10px;
  overflow: hidden;
}

.article-new-thumbnail {
  height: inherit;
  width: inherit;
}

.article-new-thumbnail:hover {
  transform: scale(1.3);
}

.article-new-description {
  color: #00a99d;
  height: 100px;
  font-size: 20px;
}

/*  
article-area-container
*/
.article-area-container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: auto;
  width: 100%;
  min-width: 1000px;
  padding: 20px 30px;
}

.article-pickup {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

.article-ranking {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0;
  border-left: 5px dotted #00a99d;
}

.article-block-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: auto;
  width: auto;
  margin: 20px;
  border-radius: 25px;
}

.article-img-container {
  height: 150px;
  width: 250px;
  margin: 10px 0px;
  border-radius: 10px;
  overflow: hidden;
}

/* .article-block:nth-child(1):before {
  content: "";
  height: 50px;
  width: 50px;
  background: url("/assets/img/article-ranking-icon/gold.png");
  background-size: contain;
} */

.article-thumbnail {
  height: inherit;
  width: inherit;
}

.article-thumbnail:hover {
  transform: scale(1.1);
}

.article-description {
  color: #00a99d;
  height: 100px;
  font-size: 20px;
}

.article-list-button {
  margin: 30px 0;
  display: block;
}

/* 
catagory
*/
.category {
  height: 400px;
  min-width: 1000px;
}

.category-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 20px 0px;
}

.category-card {
  height: 200px;
  width: 200px;
  padding: 20px;
  border: 5px solid #00a99d;
  border-radius: 25px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: 80% 20%;
}

.category-card .category-card-name {
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  font-size: 24px;
}

.category-card-img-1 {
  background-image: url("/assets/img/category-icon/computing.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.category-card-img-2 {
  background-image: url("/assets/img/category-icon/stay-at-home.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.category-card-img-3 {
  background-image: url("/assets/img/category-icon/read.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.category-card-img-4 {
  background-image: url("/assets/img/category-icon/machine.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.category-card:hover {
  box-shadow: inset 10px 10px rgba(0, 0, 0, 0.2);
}

/* 
about-author
*/

.about-author {
  height: auto;
  background-color: rgba(250, 250, 210, 0.7);
  padding-bottom: 20px;
  min-width: 1000px;
}

.about-author-description {
  padding: 30px;
  font-size: 20px;
}

/* 
pageTopButton
*/
.page-top-button {
  display: none;
  position: fixed;
  right: 1%;
  bottom: 1%;
  color: #deb887;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 20px;
  background-color: transparent;
  border-radius: 25px;
  transition: color 0.25s;
}

.page-top-button::before {
  content: "▲";
  padding-right: 5px;
}

.page-top-button:hover {
  color: #fff;
  background-color: #deb887;
}

/*
footer
*/

.footer {
  height: 75px;
  padding-top: 25px;
  background-color: #00a99d;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  min-width: 1000px;
}
